.nav {
    background-color: lightgray;
    border-radius: 2px;
    margin-top: auto;
    margin-bottom: auto;
}
.navLink {
    color: black;
    font-size: large;
    text-decoration: none;
}